.preview-null{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #116b79 45%, #e4f9fd 46%, #116b79 50%);
  background-size: 400% 100%;
  animation: bg-pos 1.5s ease-in-out infinite;
}

@keyframes bg-pos {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}